<aside class="account-container">
  <mat-card
    (click)="onCardClick()"
    [ngClass]="{ active: account._id === accountService.activeAccount?._id }"
    class="account-card"
  >
    <mat-card-subtitle class="account-card__title">
      {{ account.title | titlecase }}
    </mat-card-subtitle>
    <mat-card-title class="account-card__amount">{{
      account.sum
    }}</mat-card-title>
  </mat-card>
  <span class="account-card__currency">{{ account.currency }}</span>
  <mat-icon class="account-card__icon">remove_red_eye</mat-icon>
</aside>
