//colors
$base-white: #fff;
$base-white-darker: rgb(235, 228, 228);
$app-pink: #c93dac;
$base-red: #ee3f19;
$base-green: #21c206;
$app-bg-gray: #efefef;
$button-bg: #b9e2e6;
$button-bg-darker: #86c9cf;
