<main class="container">
  <app-header></app-header>
  <div class="wrapper">
    <div class="main">
      <mat-icon class="main__search__icon">search</mat-icon>
      <input class="main__search" placeholder="Search" matInput type="text" />
      <div class="main__categories">
        <ul>
          <li
            [ngClass]="{
              income: category.type === 'income',
              expanse: category.type === 'expanse'
            }"
            class="main__categories__category"
            *ngFor="let category of categoryService.categories"
          >
            {{ category.title | titlecase }}
            <span class="main__categories__icon-container">
              <mat-icon class="main__categories__icon">edit</mat-icon>
              <mat-icon class="main__categories__icon">delete_outline</mat-icon>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <aside class="aside">
      <app-custom-button
        type="income"
        icon="arrow_upward"
        text="Income"
      ></app-custom-button>
      <app-custom-button
        type="expanse"
        icon="arrow_downward"
        text="Expanses"
      ></app-custom-button>
      <app-custom-button
        type="create"
        icon="add"
        text="Add Category"
      ></app-custom-button>
    </aside>
  </div>
</main>
