<main (click)="onClickHandler()" class="container">
  <app-header></app-header>
  <div class="wrapper">
    <div class="main">
      <mat-icon class="main__search__icon">search</mat-icon>
      <input class="main__search" placeholder="Search" matInput type="text" />
      <div class="main__categories">
        <ul class="main__categories__list">
          <app-category-item
            [category]="category"
            *ngFor="
              let category of categoryService.categories;
              let i = index;
              trackBy: trackBy
            "
          ></app-category-item>
        </ul>
      </div>
    </div>

    <aside class="aside">
      <app-custom-button
        type="income"
        icon="arrow_upward"
        text="Income"
      ></app-custom-button>
      <app-custom-button
        type="expanse"
        icon="arrow_downward"
        text="Expanses"
      ></app-custom-button>
      <app-custom-button
        type="create"
        icon="add"
        text="Add Category"
      ></app-custom-button>
    </aside>
  </div>
  <app-form-card
    type="Category"
    *ngIf="formCardService.isFormCardShown"
  ></app-form-card>
</main>
