<header class="header-container">
  <div class="header-text">
    <h1>Budgetify</h1>
  </div>
  <div class="header-links">
    <mat-tab-group class="header-links__group">
      <mat-tab class="header-links__link" label="Categories"> </mat-tab>
      <mat-tab class="header-links__link" label="Statistics"> </mat-tab>
    </mat-tab-group>
  </div>
  <div class="header-user-info">
    <p>Giorgi Vadachkoria</p>
    <button (click)="onLogoutClick()" mat-icon-button aria-label="Logout">
      <mat-icon class="header-user-info__icon-logout">exit_to_app</mat-icon>
    </button>
  </div>
</header>
