@use "../shared/variables.scss" as var;

.container {
  background-color: var.$app-bg-gray;
  height: 100vh;
  overflow-y: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sticky-header {
  background-color: var.$base-white;
}

.wrapper {
  display: flex;
  height: 80vh;
  width: 85%;
  margin: 0 auto;
}

.cards {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 1rem;
  flex: 2;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var.$base-gray;
  }
}

.main {
  flex: 3;
  margin-top: 3rem;

  &__btn {
    background-color: var.$base-white;
    opacity: 0.5;
  }

  &__date-container {
    margin-top: 2rem;
  }
}

.active {
  border: 1px solid;
  opacity: 1;
}

.form {
  display: flex;
  align-items: center;
}

.form-btn {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.table {
  width: 95%;
  margin-top: 4rem;
  border-collapse: collapse;
  background-color: var.$base-white;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px var.$base-black;

  &__header {
    background-color: var.$button-bg;
  }
}

.table tr {
  width: 90%;
  padding: 0 0.5rem;
  height: 2.5rem;
}

.table tr:not(:nth-child(1)) {
  border-bottom: 1px solid;
}

.table tr th {
  width: 20%;
  text-align: center;
}

.table tr td {
  width: 20%;
  text-align: center;
  font-weight: 500;
}

.income {
  color: var.$base-green;
}

.expanse {
  color: var.$base-red;
}

.total,
.average {
  font-weight: 600 !important;
}

.category-total {
  display: flex;
  flex-direction: column;
  background-color: var.$base-white;
  border-radius: 5px;
  width: 60%;
  height: 5rem;
  justify-content: center;
  padding-left: 1rem;
}

.category-amount {
  font-size: 1.4rem;
  font-weight: 500;
}
.category-text {
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 500;
}
