<main (scroll)="handleScroll($event)" class="container">
  <div class="header" [ngClass]="{ 'sticky-header': scrolltop >= 80 }">
    <app-header></app-header>
  </div>
  <div class="wrapper">
    <div class="cards">
      <app-account-card
        *ngFor="
          let account of accountService.accounts;
          let i = index;
          trackBy: trackBy
        "
        [account]="account"
      ></app-account-card>
    </div>
    <div class="main">
      <div class="main__btn-container">
        <button
          (click)="onCategoryStatsClick()"
          [ngClass]="{ active: activeClass === 'category' }"
          class="main__btn"
          mat-stroked-button
        >
          Categories Statistic
        </button>
        <button
          (click)="onMonthlyStatsClick()"
          [ngClass]="{ active: activeClass === 'monthly' }"
          class="main__btn"
          mat-stroked-button
        >
          Monthly Statistic
        </button>
      </div>
      <div class="main__date-container">
        <form [formGroup]="dateForm" class="form">
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                formControlName="startDate"
                matStartDate
                placeholder="Start date"
              />
              <input
                formControlName="endDate"
                matEndDate
                placeholder="End date"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <button
            [disabled]="dateForm.invalid"
            class="form-btn"
            mat-raised-button
            type="button"
            (click)="onGenerateClick()"
          >
            Generate
          </button>
        </form>
      </div>
      <div
        *ngIf="
          activeClass === 'monthly' &&
          statisticsService.data &&
          statisticsService.data.stats.length > 0
        "
      >
        <table class="table">
          <tr class="table__header">
            <th>Month</th>
            <th>Income</th>
            <th>Expanses</th>
            <th>Economy</th>
            <th>% of economy</th>
          </tr>
          <tr *ngFor="let item of statisticsService.data?.stats">
            <td>{{ item.month }}</td>
            <td>
              {{ item.sumIncomes }}{{ accountService.activeAccount.currency }}
            </td>
            <td>
              {{ item.sumExpanses }}{{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: item.economy > 0,
                expanse: item.economy < 0
              }"
            >
              {{ item.economy }}{{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: item.percentOfEconomy > 0,
                expanse: item.percentOfEconomy < 0
              }"
            >
              {{ item.percentOfEconomy }}%
            </td>
          </tr>
          <tr>
            <td class="total">Total</td>
            <td>
              {{ statisticsService.data.totalIncome }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td>
              {{ statisticsService.data.totalExpanses }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: statisticsService.data.totalEconomy > 0,
                expanse: statisticsService.data.totalEconomy < 0
              }"
            >
              {{ statisticsService.data.totalEconomy }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: statisticsService.data.totalPercent > 0,
                expanse: statisticsService.data.totalPercent < 0
              }"
            >
              {{ statisticsService.data.totalPercent }}%
            </td>
          </tr>
          <tr>
            <td class="average">Average</td>
            <td>
              {{ statisticsService.data.averageIncome }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td>
              {{ statisticsService.data.averageExpanses }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: statisticsService.data.averageEconomy > 0,
                expanse: statisticsService.data.averageEconomy < 0
              }"
            >
              {{ statisticsService.data.averageEconomy }}
              {{ accountService.activeAccount.currency }}
            </td>
            <td
              [ngClass]="{
                income: statisticsService.data.averagePercent > 0,
                expanse: statisticsService.data.averageEconomy < 0
              }"
            >
              {{ statisticsService.data.averagePercent }}%
            </td>
          </tr>
        </table>
        <app-line-chart></app-line-chart>
      </div>
      <div
        *ngIf="
          activeClass === 'category' &&
          statisticsService.categoryData &&
          statisticsService.categoryData.stats.length > 0
        "
      >
        <div class="category-total">
          <p class="category-text">Total Expenses</p>
          <span class="expanse category-amount">
            {{ statisticsService.categoryData.sumExpanses }}
            {{ accountService.activeAccount.currency }}
          </span>
        </div>
        <table class="table">
          <tr class="table__header">
            <th>Category</th>
            <th>Amount</th>
            <th>% in total</th>
          </tr>
          <tr *ngFor="let item of statisticsService.categoryData?.stats">
            <td>{{ item.category | titlecase }}</td>
            <td>{{ item.sum }}{{ accountService.activeAccount.currency }}</td>
            <td>{{ item.percent }}%</td>
          </tr>
        </table>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</main>
