<mat-card (click)="onViewTransactionClick()" class="transaction-container">
  <mat-icon
    [ngClass]="{
      income: transaction.type === 'income',
      expanse: transaction.type === 'expanse'
    }"
    class="transaction-icon"
  >
    {{ transaction.type === "income" ? "arrow_upward" : "arrow_downward" }}
  </mat-icon>
  <div class="transaction-info">
    <mat-card-title class="transaction-info__title">
      {{ transaction.title | titlecase }}
    </mat-card-title>
    <mat-card-subtitle class="transaction-info__subtitle">
      {{ transaction.type | titlecase }} -
      {{ transaction.transactionDate | date }}
    </mat-card-subtitle>
  </div>
  <div class="transaction-amount">
    <mat-card-content
      [ngClass]="{
        income: transaction.type === 'income',
        expanse: transaction.type === 'expanse'
      }"
      class="transaction-amount__total"
    >
      {{ transaction.amount | number: "1.2-3" }}
      {{ accountService.activeAccount.currency }}
    </mat-card-content>
  </div>
</mat-card>
