@use "../../shared/variables.scss" as var;

.custom-button {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 0;
  width: 10rem;

  &__icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 7px;
  }
}

.create {
  background-color: var.$button-bg;

  .custom-button__icon {
    color: var.$button-bg-darker;
    background-color: var.$base-white;
  }

  &:hover {
    background-color: var.$button-bg-darker;
  }
}

.income {
  background-color: var.$base-white;

  .custom-button__icon {
    color: var.$base-white;
    background-color: var.$base-green;
  }

  &:hover {
    background-color: var.$base-white-darker;
  }
}

.expanse {
  background-color: var.$base-white;

  .custom-button__icon {
    color: var.$base-white;
    background-color: var.$base-red;
  }

  &:hover {
    background-color: var.$base-white-darker;
  }
}
